<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>OLX PUC</title>
  <link rel="icon" href="assets/img/pucicone.png">
  <link rel="stylesheet" href="assets/CSS/stylesHomepage.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>

</head>
<body>
 
   <header class="topbar">
    <a href="index.html" style="text-decoration: none; color: inherit;"><div class="logo">OLX PUC</div></a>
    <input type="text" id="campoBusca" placeholder="Buscar anúncio..." class="search"/>
    <div class="auth-buttons">
      <a href= "Login.html" class="btn login">Login | Logout</a>
      <a href="cadastro_usuario.html" class="btn subscribe">Cadastrar</a>
    </div>
  </header>
  
  <nav class="navbar">
    <a href="index.html">Home</a>
    <a href="meusanuncios.html">Meus Anúncios</a>
    <a href="notificacoes.html">Notificações</a>
    <div class="icons">
      <a href="carrinho.html"><button><i class="fas fa-shopping-cart"></i> Carrinho</button></a>
    </div>
  </nav>

  <section class="hero">
  <div class="slogan">
    <h2>Compre e venda com facilidade</h2>
    <p>Plataforma exclusiva para alunos da PUC Minas</p>
    <a href="cadastro.html"><button class="btn">Anunciar agora</button></a>
  </div>
  <div class="carousel">
    <div class="carousel-container">
      <!-- Imagens serão carregadas dinamicamente pelo JavaScript -->
    </div>
    <button class="arrow" id="prev">&#10094;</button>
    <button class="arrow" id="next">&#10095;</button>
  </div>
</section>

    
  </section>

     <div class="filters">
    <button class="active">Todos</button>
    <button>Roupas</button>
    <button>T.I</button>
    <button>Estudo</button>
    <button>Outros</button>
  </div>

     <section class="ads-grid">
      </section>

    <div class="pagination">
    
  </div>

  <footer>
    <div class="container-fluid">
      <a class="navbar-brand logo-circle d-flex align-items-center justify-content-center" href="index.html">
<img src="assets/img/logo.png" alt="Logo">
      </a> 
      <p class="mb-1 mt-2">© 2025 OLX PUC. Todos os direitos reservados.</p>
      <p class="mb-2 small">
        OLX PUC é uma plataforma digital independente dedicada à compra, venda e troca de produtos e serviços entre membros da comunidade acadêmica.
      </p>
    <div class="social">
      <i class="fab fa-linkedin"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-facebook"></i>
    </div>
  </footer>

  <script src="assets/JS/config.js"></script>
  <script src="assets/JS/Homepage.js"></script>
</body>
</html>