html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.alert-info {
  border-left: 5px solid #189f8f;
  background-color: #e6f8f7;
  border-radius: 0.5rem;
}

.alert-info a.btn-success {
  font-size: 1.125rem;
  padding: 0.75rem 1.5rem;
  background-color: #189f8f;
  border-color: #189f8f;
}

.alert-info a.btn-success:hover {
  background-color: #157e76;
  border-color: #157e76;
}

footer {
  margin-top: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #189f8f;
  color: #ffffff;
}

footer i {
  color: #ffffff;
}

footer a:hover i {
  color: #d0f2ef;
}
